Repository charleszipp/azure-pipelines-tasks-terraform, pull requests merged in 2021-05, with the labels that each got.

#7 npm audit fixes
  package-lock.json
  package.json
  tasks/terraform-cli/package-lock.json
  tasks/terraform-cli/package.json
  tasks/terraform-installer/package-lock.json
  tasks/terraform-installer/package.json
Labels: dependencies, extension, security, terraform-cli-task, terraform-installer-task, terraform-plan-view

#24 check existence of resource changes property before detecting destroy
  tasks/terraform-cli/src/commands/tf-show.ts
  tasks/terraform-cli/src/tests/features/terraform-show.feature
  tasks/terraform-cli/src/tests/stdout_tf_show_tfplan_output_only.json
Labels: bug, sev2, terraform-cli-task

#25 Make share-with orgs configurable for pre-release versions
  pipelines/publish/publish_private.yml
Labels: extension

#26 do not add secure file on validate for 0.15
  tasks/terraform-cli/src/commands/tf-validate.ts
Labels: bug, sev3, terraform-cli-task

#27 adds support for creating new workspaces
  overview.md
  pipelines/pipeline-alpha.yml
  pipelines/test/switch_workspaces.yml
  tasks/terraform-cli/src/commands/index.ts
  tasks/terraform-cli/src/commands/tf-workspace-new.ts
  tasks/terraform-cli/src/task.ts
  tasks/terraform-cli/src/tests/features/workspace/stdout-new-workspace-bar.txt
  tasks/terraform-cli/src/tests/features/workspace/terraform-workspace-new.feature
  tasks/terraform-cli/src/tests/features/workspace/terraform-workspace-select.feature
Labels: terraform-cli-task

#28 regex fixed to match number >9
  tasks/terraform-cli/src/commands/tf-plan.ts
  tasks/terraform-cli/src/tests/features/publish-plan-results/plan-output-with-more-than-nine-changes.txt
  tasks/terraform-cli/src/tests/features/publish-plan-results/plan-summary-with-more-than-nine-changes.txt
  tasks/terraform-cli/src/tests/features/publish-plan-results/publish-plan-results.feature
Labels: bug, sev2, terraform-cli-task

#33 Doc improvements to alert users regarding issue #32
  overview.md
Labels: docs, terraform-cli-task

#29 more decisive warnings
  overview.md
  pipelines/test/smoke_test.yml
  tasks/terraform-cli/package-lock.json
  tasks/terraform-cli/package.json
  tasks/terraform-cli/src/commands/tf-destroy.ts
  tasks/terraform-cli/src/commands/tf-plan.ts
  tasks/terraform-cli/src/commands/tf-version.ts
  tasks/terraform-cli/src/logger/index.ts
  tasks/terraform-cli/src/logger/mock-logger.ts
  tasks/terraform-cli/src/task.ts
  tasks/terraform-cli/src/tests/features/publish-plan-results/publish-plan-results.feature
  tasks/terraform-cli/src/tests/features/version/stdout_version_0_11_14.txt
  tasks/terraform-cli/src/tests/features/version/stdout_version_0_14_10.txt
  tasks/terraform-cli/src/tests/features/version/stdout_version_0_15_3.txt
  tasks/terraform-cli/src/tests/features/version/terraform-version.feature
  tasks/terraform-cli/src/tests/steps/task-runner.ts
  tasks/terraform-cli/src/tests/steps/task.steps.ts
  tasks/terraform-cli/task.json
Labels: terraform-cli-task

#31 add functionallity to setvariables to use isoutput
  tasks/terraform-cli/src/commands/tf-output.ts
  tasks/terraform-cli/src/commands/tf-plan.ts
  tasks/terraform-cli/src/commands/tf-show.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/task.ts
  tasks/terraform-cli/src/tests/features/terraform-output.feature
  tasks/terraform-cli/src/tests/features/terraform-plan.feature
  tasks/terraform-cli/src/tests/features/terraform-show.feature
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
Labels: terraform-cli-task

#38 additional functionality for terraform output
  tasks/terraform-cli/src/commands/tf-output.ts
  tasks/terraform-cli/src/logger/mock-logger.ts
  tasks/terraform-cli/src/tests/features/terraform-output/console_tf_output_all_types.txt
  tasks/terraform-cli/src/tests/features/terraform-output/console_tf_output_string.txt
  tasks/terraform-cli/src/tests/features/terraform-output/stdout_tf_output_all_types.json
  tasks/terraform-cli/src/tests/features/terraform-output/stdout_tf_output_string.json
  tasks/terraform-cli/src/tests/features/terraform-output/terraform-output.feature
  tasks/terraform-cli/src/tests/steps/task-runner.ts
  tasks/terraform-cli/src/tests/steps/task.steps.ts
Labels: terraform-cli-task

#49 Reverts output changes
  tasks/terraform-cli/src/commands/tf-output.ts
  tasks/terraform-cli/src/commands/tf-plan.ts
  tasks/terraform-cli/src/commands/tf-show.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/task.ts
  tasks/terraform-cli/src/tests/features/terraform-output/terraform-output.feature
  tasks/terraform-cli/src/tests/features/terraform-plan.feature
  tasks/terraform-cli/src/tests/features/terraform-show.feature
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
Labels: bug, sev2, terraform-cli-task

#50 remove warning when no changes to infrax
  tasks/terraform-cli/src/commands/tf-plan.ts
  tasks/terraform-cli/src/tests/features/publish-plan-results/publish-plan-results.feature
Labels: bug, sev2
