Repository charleszipp/azure-pipelines-tasks-terraform, pull requests merged in 2021-02, with the labels that each got.

#210 Attach plan output if publish plan results enabled
  pipelines/test/publish_plan_results.yml
  pipelines/test/test.yml
  tasks/terraform-cli/src/commands/tf-plan.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/task-agent/azdo-task-agent.ts
  tasks/terraform-cli/src/task-agent/index.ts
  tasks/terraform-cli/src/task-agent/mock-task-agent.ts
  tasks/terraform-cli/src/tests/features/publish-plan-results/plan-stdout-with-color.txt
  tasks/terraform-cli/src/tests/features/publish-plan-results/publish-plan-results.feature
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/src/tests/steps/task-runner.ts
  tasks/terraform-cli/src/tests/steps/task.steps.ts
  tasks/terraform-cli/task.json
Labels: terraform-cli-task

#212 removing terraform display task since cli can publish plans for display ui
  .vscode/launch.json
  .vscode/tasks.json
  pipelines/build/build.yml
  pipelines/build/build_terraform_display.yml
  pipelines/build/build_terraform_extension.yml
  pipelines/install/install.yml
  pipelines/pipeline.yml
  pipelines/test/display_plan_single.yml
  pipelines/test/test.yml
  tasks/terraform-display/cucumber.js
  tasks/terraform-display/icon.png
  tasks/terraform-display/package-lock.json
  tasks/terraform-display/package.json
  tasks/terraform-display/src/commands/index.ts
  tasks/terraform-display/src/commands/tf-show-summary.ts
  tasks/terraform-display/src/commands/tf-show.ts
  tasks/terraform-display/src/context/index.ts
  tasks/terraform-display/src/core/context/azdo-task-context.ts
  tasks/terraform-display/src/core/context/index.ts
  tasks/terraform-display/src/core/context/mock-task-context.ts
  tasks/terraform-display/src/core/index.ts
  tasks/terraform-display/src/core/loggers/ai-logger.ts
  tasks/terraform-display/src/core/loggers/index.ts
  tasks/terraform-display/src/core/loggers/task-logger.ts
  tasks/terraform-display/src/core/runners/azdo-runner.ts
  tasks/terraform-display/src/core/runners/azdo-tool-factory.ts
  tasks/terraform-display/src/core/runners/builders/index.ts
  tasks/terraform-display/src/core/runners/builders/run-with-command-options.ts
  tasks/terraform-display/src/core/runners/builders/run-with-json-output.ts
  tasks/terraform-display/src/core/runners/builders/run-with-plan-file.ts
  tasks/terraform-display/src/core/runners/builders/run-with-secure-file.ts
  tasks/terraform-display/src/core/runners/builders/run-with-terraform.ts
  tasks/terraform-display/src/core/runners/builders/run-without-color.ts
  tasks/terraform-display/src/core/runners/index.ts
  tasks/terraform-display/src/core/runners/mock-tool-factory.ts
  tasks/terraform-display/src/core/runners/terraform-error.ts
  tasks/terraform-display/src/core/task-agents/azdo-task-agent.ts
  tasks/terraform-display/src/core/task-agents/index.ts
  tasks/terraform-display/src/core/task-agents/mock-task-agent.ts
  tasks/terraform-display/src/core/tests/index.ts
  tasks/terraform-display/src/core/tests/mock-answer-spy.ts
  tasks/terraform-display/src/core/tests/task-answers.ts
  tasks/terraform-display/src/core/tests/task-runner.ts
  tasks/terraform-display/src/index.ts
  tasks/terraform-display/src/task.ts
  tasks/terraform-display/src/tests/default.env
  tasks/terraform-display/src/tests/features/terraform-display.feature
  tasks/terraform-display/src/tests/show_plan_stdout.json
  tasks/terraform-display/src/tests/show_plan_stdout.txt
  tasks/terraform-display/src/tests/steps/task-answers.steps.ts
  tasks/terraform-display/src/tests/steps/task-context.steps.ts
  tasks/terraform-display/src/tests/steps/task.steps.ts
  tasks/terraform-display/task.json
  tasks/terraform-display/tsconfig.json
  vss-extension.json
Labels: terraform-cli-task, terraform-display-task

#214 User Interface Tab for showing Terraform Plan
  .vscode/launch.json
  package-lock.json
  package.json
  pipelines/build/build_terraform_extension.yml
  pipelines/install/install.yml
  src/plan-summary-tab/README.md
  src/plan-summary-tab/plan-summary-tab.tsx
  src/plan-summary-tab/test-data.tsx
  tasks/terraform-installer/package-lock.json
  tsconfig.json
  vss-extension.json
  webpack.config.js
Labels: terraform-plan-view

#220 runAzLogin input should be in same group as command
  tasks/terraform-cli/task.json
Labels: bug, terraform-cli-task

#218 Setup unit test boilerplate for terraform plan view
  .vscode/launch.json
  .vscode/tasks.json
  jest.config.js
  package-lock.json
  package.json
  pipelines/build/build_terraform_extension.yml
  src/plan-summary-tab/README.md
  src/plan-summary-tab/plan-summary-tab.test.tsx
  tsconfig.json
Labels: terraform-plan-view

#222 Zanawar/217 view multiple plans
  src/plan-summary-tab/plan-summary-tab.tsx
Labels: terraform-plan-view

#221 Added ability to publish a private test version of the package
  package-lock.json
  package.json
  vss-extension-release.json
  vss-extension-test.json
  vss-extension.json
Labels: extension

#216 Allow publishing of multiple plans
  .gitignore
  src/plan-summary-tab/plan-summary-tab.tsx
  tasks/terraform-cli/README.md
  tasks/terraform-cli/src/commands/tf-plan.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/task-agent/azdo-task-agent.ts
  tasks/terraform-cli/src/task-agent/index.ts
  tasks/terraform-cli/src/task-agent/mock-task-agent.ts
  tasks/terraform-cli/src/tests/features/publish-plan-results/publish-plan-results.feature
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/src/tests/steps/task.steps.ts
Labels: terraform-cli-task

#230 move plan to independent views directory
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  package-lock.json
  package.json
  pipelines/build/build.yml
  pipelines/build/build_terraform_extension.yml
  pipelines/build/build_views_terraform_plan.yml
  pipelines/pipeline.yml
  src/plan-summary-tab/README.md
  views/terraform-plan/README.md
  views/terraform-plan/package-lock.json
  views/terraform-plan/package.json
  views/terraform-plan/src/__mocks__/styleMock.js
  views/terraform-plan/src/index.html
  views/terraform-plan/src/index.tsx
  views/terraform-plan/src/plan-summary-tab/plan-summary-tab.scss
  views/terraform-plan/src/plan-summary-tab/plan-summary-tab.test.tsx
  views/terraform-plan/src/plan-summary-tab/plan-summary-tab.tsx
  views/terraform-plan/src/plan-summary-tab/table-data.tsx
  views/terraform-plan/src/plan-summary-tab/test-data.tsx
  views/terraform-plan/src/services/attachments/azdo-attachment-service.ts
  views/terraform-plan/src/services/attachments/index.ts
  views/terraform-plan/src/services/attachments/mock-attachment-service.ts
  views/terraform-plan/tsconfig.json
  views/terraform-plan/tsconfig.test.json
  views/terraform-plan/webpack.config.js
  vss-extension.json
Labels: terraform-plan-view

#231 added script to publish from local
  scripts/publish.sh
  vss-extension-alpha.json
Labels: extension
