Repository charleszipp/azure-pipelines-tasks-terraform, pull requests merged in 2021-11, with the labels that each got.

#213 update vulnerable package dependencies
  package-lock.json
  package.json
  pipelines/build/build.yml
  pipelines/build/build_views_terraform_plan.yml
  pipelines/test/init_with_ensure_backend_no_storage_account.yml
  pipelines/test/init_with_self_configured_backend.yml
  pipelines/test/plan_with_command_options_var_file.yml
  pipelines/test/publish_plan_results.yml
  pipelines/test/smoke_test.yml
  pipelines/test/switch_workspaces.yml
  tasks/terraform-cli/README.md
  tasks/terraform-cli/cucumber.js
  tasks/terraform-cli/package-lock.json
  tasks/terraform-cli/package.json
  tasks/terraform-cli/src/tests/steps/task-answers.steps.ts
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/src/tests/steps/task.steps.ts
  tasks/terraform-cli/tsconfig.json
  tasks/terraform-installer/README.md
  tasks/terraform-installer/package-lock.json
  tasks/terraform-installer/package.json
  views/terraform-plan/package-lock.json
  views/terraform-plan/package.json
  views/terraform-plan/webpack.config.js
Labels: extension, terraform-cli-task, terraform-installer-task, terraform-plan-view, security

#216 [enh] Add flag to not mark workspace new command as failed if workspace already exists
  pipelines/test/switch_workspaces.yml
  tasks/terraform-cli/src/commands/tf-workspace-new.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/tests/features/workspace/stdout-new-workspace-bar-skipExisting.txt
  tasks/terraform-cli/src/tests/features/workspace/terraform-workspace-new.feature
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/task.json
Labels: terraform-cli-task

#217 adds workspace new option for classic ui
  tasks/terraform-cli/task.json
Labels: terraform-cli-task

#219 resolve warnings about migrating to node 10
  tasks/terraform-cli/package-lock.json
  tasks/terraform-cli/package.json
  tasks/terraform-cli/task.json
  tasks/terraform-installer/package-lock.json
  tasks/terraform-installer/package.json
  tasks/terraform-installer/task.json
Labels: bug, terraform-cli-task, terraform-installer-task, sev3

#220 aws self-configured pipeline test & example
  overview.md
  pipelines/pipeline-alpha.yml
  pipelines/pipeline-beta.yml
  pipelines/pipeline-rc.yml
  pipelines/test/aws_self_configured.yml
  templates/aws/.terraform/.gitignore
  templates/aws/main.tf
Labels: terraform-cli-task, aws

#221 update docs to set working directory for `terraform output`
  overview.md
Labels: docs, terraform-cli-task
