Repository charleszipp/azure-pipelines-tasks-terraform, pull requests merged in 2022-01, with the labels that each got.

#241 add support for google cloud storage backend
  overview.md
  pipelines/pipeline-alpha.yml
  pipelines/pipeline-beta.yml
  pipelines/pipeline-rc.yml
  pipelines/test/gcp_credential_file.yml
  tasks/terraform-cli/src/backends/gcs.ts
  tasks/terraform-cli/src/backends/index.ts
  tasks/terraform-cli/src/commands/tf-init.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/tests/features/terraform-init-gcp.feature
  tasks/terraform-cli/src/tests/gcp-fake-key.json
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/task.json
  templates/gcp/.terraform/.gitignore
  templates/gcp/main.tf
Labels: terraform-cli-task, gcp

#242 adds support for google provider
  overview.md
  pipelines/test/gcp_credential_file.yml
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/providers/google.ts
  tasks/terraform-cli/src/task.ts
  tasks/terraform-cli/task.json
Labels: terraform-cli-task, gcp

#243 enable management group scoped service connections for azurerm backends
  overview.md
  pipelines/pipeline-alpha.yml
  pipelines/pipeline-beta.yml
  pipelines/pipeline-rc.yml
  pipelines/test/azurerm_mgmt_group_service_connection.yml
  tasks/terraform-cli/src/backends/azurerm.ts
  tasks/terraform-cli/src/commands/az-account-set.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/tests/features/terraform-init-azurerm-sub-override.feature
  tasks/terraform-cli/src/tests/features/terraform-init-azurerm.feature
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/task.json
Labels: terraform-cli-task, azure

#244 Fix indentation/whitespace in code examples
  overview.md
Labels: docs

#246 enable azurerm provider auth with management group scoped service connection
  pipelines/test/azurerm_mgmt_group_service_connection.yml
  pipelines/test/smoke_test.yml
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/providers/azurerm.ts
  tasks/terraform-cli/src/tests/features/terraform-apply-sub-override.feature
  tasks/terraform-cli/src/tests/features/terraform-destroy-sub-override.feature
  tasks/terraform-cli/src/tests/features/terraform-force-unlock-sub-override.feature
  tasks/terraform-cli/src/tests/features/terraform-import-with-sub-override.feature
  tasks/terraform-cli/src/tests/features/terraform-plan-with-sub-override.feature
  tasks/terraform-cli/src/tests/features/terraform-refresh-with-sub-override.feature
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/task.json
Labels: terraform-cli-task, azure

#245 Add support for state commands list, move, and rm
  overview.md
  pipelines/pipeline-beta.yml
  pipelines/test/state_commands.yml
  tasks/terraform-cli/src/commands/index.ts
  tasks/terraform-cli/src/commands/tf-state-list.ts
  tasks/terraform-cli/src/commands/tf-state-move.ts
  tasks/terraform-cli/src/commands/tf-state-remove.ts
  tasks/terraform-cli/src/commands/tf-state.ts
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/context/index.ts
  tasks/terraform-cli/src/context/mock-task-context.ts
  tasks/terraform-cli/src/runners/builders/index.ts
  tasks/terraform-cli/src/runners/builders/run-with-resource-addresses.ts
  tasks/terraform-cli/src/runners/builders/run-with-source-destination.ts
  tasks/terraform-cli/src/task.ts
  tasks/terraform-cli/src/tests/features/state/stdout-state-list-addressed.txt
  tasks/terraform-cli/src/tests/features/state/stdout-state-list-simple.txt
  tasks/terraform-cli/src/tests/features/state/stdout-state-move-ok.txt
  tasks/terraform-cli/src/tests/features/state/stdout-state-remove.txt
  tasks/terraform-cli/src/tests/features/state/terraform-state.feature
  tasks/terraform-cli/src/tests/features/state/terraform.tfstate
  tasks/terraform-cli/src/tests/steps/task-context.steps.ts
  tasks/terraform-cli/task.json
  templates/sample.tf
Labels: terraform-cli-task

#247 fixing state command test pipeline
  overview.md
  pipelines/pipeline-alpha.yml
  pipelines/pipeline-rc.yml
  pipelines/test/state_commands.yml
  tasks/terraform-cli/task.json
Labels: terraform-cli-task
